<h2>Edit hole</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_hole_path(@conn, :update, @course, @hole) %>

<%= link "Back", to: course_path(@conn, :show, @course) %>
