<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Golfscore</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <section class="hero is-primary is-bold">
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item logo">
                <%= iconic(@conn, icon: "target", size: "md") %>
                <span>Golfscore</span>
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <%= nav_item @conn, "Home", to: page_path(@conn, :index) %>
              <%= nav_item @conn, "Courses", to: course_path(@conn, :index) %>
              <%= if user = current_user(@conn) do %>
                <span class="nav-item">
                  <span class="icon is-user-profile">
                    <a href="<%= user_path(@conn, :show, user.id) %>">
                      <img src="<%= gravatar(@conn.scheme, user.email) %>">
                    </a>
                  </span>
                </span>
                <span class="nav-item">
                  <a class="button is-primary is-inverted" href="<%= session_path(@conn, :logout) %>">
                    <span class="icon">
                      <%= iconic(@conn, icon: "account", state: "logout") %>
                    </span>
                    <span>Log out</span>
                  </a>
                </span>
              <% else %>
                <span class="nav-item">
                  <a class="button is-primary is-inverted" href="<%= session_path(@conn, :new) %>">
                    <span class="icon">
                      <%= iconic(@conn, icon: "account", state: "login") %>
                    </span>
                    <span>Log in</span>
                  </a>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">
            Letting you track the progress of your friends since 2016
          </h2>
        </div>
      </div>
    </section>
    <%= render_flash(@conn) %>
    <section class="section">
      <div class="container">
        <div class="content">
          <main role="main">
          <%= render @view_module, @view_template, assigns %>
          </main>
        </div>

      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p><strong>Golfscore</strong> by Andreas</p>
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
